<a href="https://colab.research.google.com/github/kartikbatra056/AllAboutTimeSeries/blob/main/TimeSeriesWithLSTMandDCNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Get Dataset from kaggle

In [1]:
! pip install -q kaggle

In [2]:
from google.colab import files
uploaded=files.upload()

Saving kaggle.json to kaggle.json

In [3]:
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json

In [4]:
! kaggle datasets download -d 'rohanrao/nifty50-stock-market-data'

Downloading nifty50-stock-market-data.zip to /content
 50% 9.00M/18.0M [00:00<00:00, 35.1MB/s]
100% 18.0M/18.0M [00:00<00:00, 51.8MB/s]

In [5]:
!unzip '/content/nifty50-stock-market-data.zip'

Archive:  /content/nifty50-stock-market-data.zip
  inflating: ADANIPORTS.csv
  inflating: ASIANPAINT.csv
  inflating: AXISBANK.csv
  inflating: BAJAJ-AUTO.csv
  inflating: BAJAJFINSV.csv
  inflating: BAJFINANCE.csv
  inflating: BHARTIARTL.csv
  inflating: BPCL.csv
  inflating: BRITANNIA.csv
  inflating: CIPLA.csv
  inflating: COALINDIA.csv
  inflating: DRREDDY.csv
  inflating: EICHERMOT.csv
  inflating: GAIL.csv
  inflating: GRASIM.csv
  inflating: HCLTECH.csv
  inflating: HDFC.csv
  inflating: HDFCBANK.csv
  inflating: HEROMOTOCO.csv
  inflating: HINDALCO.csv
  inflating: HINDUNILVR.csv
  inflating: ICICIBANK.csv
  inflating: INDUSINDBK.csv
  inflating: INFRATEL.csv
  inflating: INFY.csv
  inflating: IOC.csv
  inflating: ITC.csv
  inflating: JSWSTEEL.csv
  inflating: KOTAKBANK.csv
  inflating: LT.csv
  inflating: MARUTI.csv
  inflating: MM.csv
  inflating: NESTLEIND.csv
  inflating: NIFTY50_all.csv
  inflating: NTPC.csv
  inflating: ONGC.csv
  inflating: POWERGRID.csv
  inflating: RELIANCE.csv
  inflating: SBIN.csv
  inflating: SHREECEM.csv
  inflating: SUNPHARMA.csv
  inflating: TATAMOTORS.csv
  inflating: TATASTEEL.csv
  inflating: TCS.csv
  inflating: TECHM.csv
  inflating: TITAN.csv
  inflating: ULTRACEMCO.csv
  inflating: UPL.csv
  inflating: VEDL.csv
  inflating: WIPRO.csv
  inflating: ZEEL.csv
  inflating: stock_metadata.csv

In [84]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import torch
import torch.nn as nn
from torch.utils.data import Dataset,DataLoader
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
plt.style.use('ggplot')
%matplotlib inline

In [85]:
df=pd.read_csv('/content/RELIANCE.csv',parse_dates=['Date'])
df.head()

        Date    Symbol Series  ...  Trades  Deliverable Volume  %Deliverble
0 2000-01-03  RELIANCE     EQ  ...     NaN                 NaN          NaN
1 2000-01-04  RELIANCE     EQ  ...     NaN                 NaN          NaN
2 2000-01-05  RELIANCE     EQ  ...     NaN                 NaN          NaN
3 2000-01-06  RELIANCE     EQ  ...     NaN                 NaN          NaN
4 2000-01-07  RELIANCE     EQ  ...     NaN                 NaN          NaN

[5 rows x 15 columns]

In [87]:
def train_test_data(data):
     '''
     Scale and split dataset.
     parameters:
       data:Time series dataset 
     returns: 
       train_data: Training data
       valid_data: Validation Data
     '''
     
     scaler=MinMaxScaler()
     
     data=data.asfreq('D')

     data.fillna(method='bfill',inplace=True)

     data.fillna(method='ffill',inplace=True)

     train_data=pd.DataFrame(index=data.iloc[:-int(len(data)*0.2)].index)

     valid_data=pd.DataFrame(index=data.iloc[-int(len(data)*0.2):].index)
     
     train_data['VWAP']=scaler.fit_transform(np.reshape(data.iloc[:-int(len(data)*0.2)].values,(-1,1))).squeeze(1)
     
     valid_data['VWAP']=scaler.transform(np.reshape(data.iloc[-int(len(data)*0.2):].values,(-1,1))).squeeze(1)
     
     return train_data,valid_data

In [92]:
class RelianceDataset(Dataset):
      def __init__(self,data,T=10,step=1):
          super().__init__()
          self.data=np.reshape(data.values,(data.shape[0],1))
          self.T=T
          self.chunks=torch.FloatTensor(self.data).unfold(0,self.T,step).permute(0,2,1)
          
      def __getitem__(self,index:int): 
          
           x=self.chunks[index,:-1,0]
           y=self.chunks[index,-1,0]   
           return x,y
      
      def __len__(self):
          
          return self.chunks.size(0)

In [94]:
df.set_index('Date',inplace=True)
train_data,valid_data=train_test_data(df['VWAP'])
train_data.shape,valid_data.shape

((6086, 1), (1521, 1))

In [95]:
device=torch.device('cuda' if torch.cuda.is_available() else 'cpu')

In [96]:
class LSTMModel(nn.Module):
    def __init__(self,f_dim,h_dim,n_layers=1,drop_l=0.05,bidirect=False):
        
        super(LSTMModel,self).__init__() 
        
        if bidirect: 
          self.n_layers=2*n_layers
        else:
          self.n_layers=n_layers  

        self.h_dim=h_dim

        self.lstm=nn.LSTM(f_dim,h_dim,n_layers,batch_first=True,dropout=drop_l,bidirectional=bidirect)

        self.fc=nn.Linear(2*h_dim,out_dim)

    def forward(self,Input):     
    
        h0,c0=torch.zeros((self.n_layers,Input.size(0),self.h_dim)).to(device),torch.zeros((self.n_layers,Input.size(0),self.h_dim)).to(device)

        output,(h0,c0)=self.lstm(Input,(h0,c0))

        out=sel.fc(output[-1])

        return out